
$white: #fff;
$black: #000;
$yellow: #F3E600;

$desktop: 1920px;
$desktop-sm: 1370px;
$tablet-h: 1024px;
$tablet-v: 768px;
$phone: 648px;

$font-family: 'Clash Grotesk';
$font-light: 300;
$font-regular: normal;
$font-medium: 500;